.hexagon {
    
    display: inline-block;
    position: relative;
    font-size:auto;
    text-align: center;
    /* border:2px solid red; */
    clip-path: polygon(25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%, 0% 50%);
    /* background-color:rgb(1, 97, 97); */
    transition: all .5s ease;
    
    
}
  
.hexagon, 
.hexagon:before, 
.hexagon:after {
  background:#99F6E4;
  box-shadow: 0 0 10px rgba(247, 4, 4, 0.8);   
}